/* Global Style */
body {
    font-family: Poppins;
    overflow-x: hidden;
}

/* Component Style */
.btn-danger {
    background-color: #C81912 !important;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}



/* Navbar Style */
.navbar-nav {
    font-weight: 200;
}

.navbar-nav .active {
    font-weight: 500;
    color: #C81912 !important;
}

/* Hero Style */
.hero-background {
    background-image: url(../img/hero-background.png);
    background-size: cover;
    height: 693px;
}

.jumbotron .title {
    font-weight: 600;
}

.jumbotron .lead {
    font-weight: 200 !important;
    font-size: 20px;
    color: #7E7979 !important;
}

.jumbotron .text-hero {
    font-size: 16px;
}

/* Layanan Style */
.layanan {
    background-image: url(../img/layanan-background.png);
    height: 1453px;
}

.layanan .title {
    font-weight: 700;
    font-size: 30px;
}

.layanan .lead {
    font-weight: 200;
    font-size: 16px;
}

.layanan .tombol-layanan {
    text-decoration: none;
    /* padding: 10px; */
    width: 120px;
    height: 120px;
    text-align: center;
    border-radius: 50%;
    background-color: black;
}

/* Section Sub Main */
.sub-main {
    background-image: url(../img/backgorund-question.png);
    background-size: cover;
    background-position-x: -45px;
    height: 380px;
}

/* Section Pimpinan */
.pimpinan {
    padding-top: 30px;
    background-image: url('../img/layanan-background.png');
    height: 800px;
}

.testi-wrap {
    position: relative;
    height: 725px;
    margin-top: -80px
}

.client-single {
    text-align: center;
    position: absolute;
    -webkit-transition: all 1s ease;
    transition: all 1s ease
}

.client-info {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.client-comment {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.client-single.inactive .client-comment,
.client-single.inactive .client-info {
    display: none
}

.client-single.inactive .client-comment,
.client-single.inactive .client-info {
    opacity: 0;
    visibility: hidden
}

.client-single.position-1 {
    -webkit-transform: scale(0.65);
    transform: scale(0.65);
}

.client-single.position-2 {
    left: -40px;
    top: 105px;
}

.client-single.position-3 {
    left: -60px;
    top: 240px;
    -webkit-transform: scale(.40) !important;
    transform: scale(.40) !important;
}

.client-single.position-4 {
    left: 55px;
    top: 380px;
}

.client-single.position-5 {
    top: 30px;
    right: 55px;
}

.client-single.position-6 {
    top: 225px;
    right: -40px;
}

.client-single.position-7 {
    top: 400px;
    right: 45px;
    -webkit-transform: scale(.40) !important;
    transform: scale(.40) !important;
}

.client-single.active {
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 10;
    width: 70%
}

.client-single.active .client-comment,
.client-single.active .client-info {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s
}

.client-single:not(.active) {
    -webkit-transform: scale(0.55);
    transform: scale(0.55);
    z-index: 99
}

.client-single.active .client-img {
    width: 160px;
    height: 160px;
    margin: 0 auto 24px;
    position: relative;
}

.client-single.active .client-img:before {
    border-radius: 100%;
    content: '';
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(157, 91, 254)), to(rgb(56, 144, 254))); */
    /* background-image: linear-gradient(180deg, rgb(185, 15, 0) 0%, rgb(173, 75, 67) 100%); */
    padding: 5px;
    width: 160px;
    height: 160px;
    top: -4px;
    left: 0px;
    position: absolute;
    z-index: -1;
}

.client-single .inactive img {
    width: 180px !important;
}

.client-single .client-img img {
    border-radius: 50%;
    border: 8px solid #EF534C;
    cursor: pointer;
}

.client-single.active .client-img img {
    max-width: 152px;
    margin: 0 auto 24px;
    border: 0
}

.client-comment {
    padding: 0 30px;
}

.client-comment h3 {
    font-size: 22px;
    line-height: 32px;
    color: #505b6d;
}

.client-comment span i {
    font-size: 60px;
    color: #0084ff;
    margin: 40px 0 24px;
    display: inline-block
}

.client-info h3 {
    color: #000;
    font-weight: 600;
    margin-bottom: 4px;
}

.client-info p {
    color: #0084ff;
    text-transform: uppercase;
}

/* Footer */
footer {
    background-color: #F3F4F7;
    /* height: 434px; */
}

.menu-footer a {
    margin-top: 10px !important;
}

.inactive img {
    width: 200px !important;
}

.inactive img {
    width: 200px !important;
}