/*--------------------------------------------------------------
    large mobile
----------------------------------------------------------------*/

@media (max-width: 575.98px) {
    /* .pimpinan {
        margin-top: 200px !important;
    } */

    .hero-background {
        background-position-x: -400px;
        /* background-position-y: 10px; */
    }

    .ilustrasi-2 {
        width: 300px;
    }

    body {
        overflow-x: hidden !important;
    }

    .sub-main {
        margin-top: 120px;
        background-position-x: -300px;
    }

    .form-row {
        margin-left: 50px;
    }

    .layanan-info {
        display: none !important;
    }

    .button-triger {
        margin-left: 103px !important;
        margin-top: -100px;
    }

    .carousel-item .col-md-5 {
        margin-left: -2px !important;
    }

    .layanan-s-2 {
        margin-top: -60px !important;
        text-align: center;
    }

    h1 {
        font-size: 40px;
        line-height: 50px
    }

    h2 {
        font-size: 30px;
        line-height: 40px
    }

    h3 {
        font-size: 20px;
        line-height: 30px
    }

    h4 {
        font-size: 18px;
        line-height: 28px
    }

    h5 {
        font-size: 16px;
        line-height: 26px
    }

    h6 {
        font-size: 14px;
        line-height: 24px
    }

    .caption {
        padding: 160px 0 100px;
    }

    .caption.two {
        padding: 150px 0 90px;
    }

    .navbar-nav {
        padding: 20px 30px 35px;
    }

    #navbarContent {
        background: -webkit-gradient(linear, left top, right top, from(#20007e), to(#e61eb6));
        background: linear-gradient(90deg, #20007e 0%, #e61eb6 100%);
    }

    .navbar-nav .nav-item {
        padding: 4px 0;
    }

    .navbar-nav .nav-link {
        display: inline-block;
    }

    .navbar-nav .nav-item.download-btn .nav-link {
        margin: 16px 0 0;
    }

    .navbar-nav .nav-link.active::after,
    .navbar-nav .nav-link:hover::after {
        right: auto;
    }

    .navbar-toggler span {
        color: #fff;
        font-size: 30px;
    }

    .core-feature-single {
        margin: 0 0 30px;
    }

    .load-more-btn a {
        margin-top: 30px;
    }

    .caption h1 {
        margin-bottom: 15px;
    }

    .about-app-mocup {
        position: unset;
        margin-top: 50px;
        text-align: center
    }

    .about-app-mocup img {
        max-width: 300px;
    }

    .about-info-single .icon {
        text-align: center;
    }

    .about-cont {
        margin-top: 0;
    }

    #about-area {
        padding: 50px 0 100px;
        background-size: cover;
        background-position: left;
    }

    #home-area.bg-1 {
        margin-bottom: 30px;
        background-position: center
    }

    #core-feature-area {
        margin-bottom: 0;
    }

    .about-info-single .content p {
        font-size: 14px;
    }

    .video-cont {
        width: 400px;
        height: 400px;
        top: 365px;
        border-radius: 50%;
        margin: 0 auto;
        left: 0;
        right: 0
    }

    .video.title {
        padding-bottom: 500px;
    }

    #video-area {
        padding: 100px 0 30px;
        background-size: cover;
        background-position: top
    }

    .awesome-feat-img {
        margin-left: 0;
        margin-bottom: 30px
    }

    .feat-carousel-wrap {
        margin-right: 10px;
    }

    .awesome-feat-img img {
        max-width: 300px;
    }

    .awesome-feat-carousel.owl-carousel {
        padding: 10px;
    }

    .on-footer {
        margin-top: -100px !important;
    }

    .on-footer-text {
        margin-top: -120px;
    }

    .text-on-footer {
        text-align: center;
    }

    .feat-carousel-wrap::before,
    .feat-carousel-wrap::after {
        display: none;
    }

    .awesome-feat-single {
        margin: 20px;
    }

    .awesome-feat-carousel.owl-carousel .owl-nav>div {
        bottom: -80px;
    }

    #awesome-feat-area {
        padding: 100px 0 50px;
    }

    #how-work-area {
        padding: 50px 0 220px;
        background-size: contain
    }

    #pricing-wrap .yearly,
    #pricing-wrap .monthly {
        right: -30px;
    }

    #pricing-area {
        padding: 100px 0 275px;
    }

    #team-area {
        background-size: auto;
        padding: 105px 0 60px
    }

    .team-single {
        margin-bottom: 40px;
    }

    #testimonial-area .section-heading h2 {
        font-size: 30px;
    }



    .client-comment h3 {
        font-size: 14px;
        line-height: 26px;
    }

    .client-single.active {
        width: 60%;
    }

    .client-comment span i {
        font-size: 40px;
    }

    .client-single:not(.active) {
        -webkit-transform: scale(0.55);
        transform: scale(0.35);
    }

    .client-single.position-2 {
        top: 180px;
        left: -90px;
    }

    .client-single.position-5 {
        left: 280px;
    }

    .client-single.position-7 {
        left: 250px;
        /* top: 120px; */
    }

    .client-single.position-6 {
        right: -90px;
    }

    .client-single.position-4 {
        top: 50px;
        left: -90px;
    }

    .client-single.position-3 {
        top: 350px;
        right: 200px;
    }

    .img-on-footer {
        width: 300px;
        margin-left: 30px;
    }

    .copy-right p {
        font-size: 12px;
    }

    .client-single.position-7 {
        -webkit-transform: scale(.30) !important;
        transform: scale(.30) !important;
    }

    .client-single.active .client-img img {
        max-width: 80px;
    }

    .client-single.active .client-img::before {
        padding: 5px;
        width: 88px;
        height: 88px;
        top: -4px;
        left: 16px;
    }

    .client-single.active .client-img {
        width: 120px;
        height: 100px;
    }

    .testi-wrap {
        height: 630px;
    }

    .app-download-bg {
        background-position: bottom;
    }

    .app-download-mockup {
        right: 0;
        bottom: 80px;
        width: 75%;
        left: 0;
        text-align: center;
        margin: 0 auto;
    }

    .faq-img img {
        max-width: 280px;
        margin-left: 0;
        margin-top: 110px;
    }

    .card .card-header a {
        font-size: 15px;
        line-height: 25px;
        padding: 15px 15px;
    }

    .faq-img img {
        max-width: 280px;
        margin-left: 0;
        margin-top: 80px;
    }

    #faq-area {
        margin: 100px 0 50px;
        background-size: contain
    }

    #contact-area {
        padding: 60px 0 30px;
        margin-bottom: 0;
    }

    .get-started h2 {
        font-size: 30px;
        line-height: 40px;
        margin: 0 0 20px;
    }

    #footer {
        background-size: cover;
    }

    .get-started a {
        padding: 15px 20px;
        margin: 20px 0 0;
        float: left
    }

    .footer-widget {
        margin-bottom: 40px;
    }

    .footer-cont {
        padding: 80px 0 30px;
    }

    .footer-widget h3 {
        font-size: 20px;
        line-height: 30px
    }

    .screenshot-frame {
        display: none
    }

    #home-area.bg-2 {
        background-position: left;
        background-size: cover
    }

    .about-cont h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .about-info-single {
        margin-bottom: 20px;
    }

    #core-feature-area {
        padding: 75px 0 50px;
    }

    .counter-single {
        margin-bottom: 70px;
    }

    .how-work-bg {
        background-image: none;
    }

    .how-work-single {
        margin-bottom: 60px;
        padding: 0 50px
    }

    .how-work-single i {
        display: inline-block;
        width: 100px;
        height: 100px;
        line-height: 108px;
    }

    .how-work-single .icon {
        width: 120px;
        height: 120px;
    }

    .how-work-single .number {
        left: 90px;
    }

    #newsletter-area {
        padding: 95px 0 100px;
    }

    .screen-carousel.owl-carousel .owl-nav>div {
        margin-right: 0;
    }

    #screenshot-area {
        padding: 90px 0 180px;
        background-size: cover
    }

    .screen-carousel.owl-carousel img {
        max-width: 350px;
        margin: 0 auto;
        border: 1px solid #e6f0fa
    }

    .toggle-container .switch-toggles {
        margin-bottom: 30px;
        width: 270px
    }

    .toggle-container .switch-toggles::after {
        width: 135px;
    }

    .toggle-container .switch-toggles .monthly,
    .toggle-container .switch-toggles .yearly {
        width: 134px;
    }

    .toggle-container .switch-toggles.active::after {
        left: 135px;
    }

    #pricing-wrap {
        margin-bottom: 490px;
        margin-top: 20px
    }

    .custom-plan-wrap {
        background-size: auto;
    }

    .app-downlod-review {
        padding: 100px 0 300px;
    }

    .faq-img {
        text-align: center;
    }

    .footer-copyright {
        text-align: center;
    }

    .footer-social {
        text-align: center !important;
        margin-top: 15px;
    }

    #custom-plan-area .section-heading {
        margin-bottom: 40px;
    }

    #header.sticky {
        padding: 10px 0;
    }

    .screen-carousel.owl-carousel .owl-nav {
        text-align: center;
    }

    .screen-carousel.owl-carousel .owl-nav .owl-next {
        right: 40%;
    }

    .breadcrumb-cont h2 {
        font-size: 36px;
        margin: 0 0 20px;
    }

    .page-breadcrumb {
        padding: 160px 0 90px;
    }

    .blog-wrap {
        padding: 100px 0 60px;
    }

    .post-media img {
        width: 100%;
    }

    .post-media .date {
        font-size: 26px;
    }

    .blog-sidebar {
        margin: 80px 0 0;
    }

    .avatar {
        width: 26%;
    }

    .comnt-text {
        width: 74%;
    }

    .comment-single.reply {
        margin-left: 60px;
    }

    .comment-single.reply .avatar {
        width: 30%;
    }

    .comment-single.reply .comnt-text {
        width: 70%;
    }

    .blog-wrap {
        padding: 100px 0 10px;
    }

    .comment-form button {
        padding: 14px 26px;
    }

    .blog-pagination.two {
        margin: 50px 0 0;
    }

    .post-cont blockquote {
        padding: 65px 30px 50px;
    }

    .post-cont blockquote p {
        font-size: 18px;
    }

    .navbar-nav .nav-link {
        font-size: 15px;
    }

    .navbar-nav .nav-item.download-btn .nav-link {
        margin-top: 15px;
    }

    .caption-btns a.bg {
        padding: 10px 18px;
    }

    .core-feature-single .icon,
    .counter-single .icon {
        margin: 0 auto 40px;
        font-size: 34px;
    }

    .section-heading h5 {
        font-size: 14px;
    }

    .core-feature-single .icon::before,
    .counter-single .icon::before {
        width: 110px;
        height: 110px;
        top: -20px;
        left: -20px;
    }

    .core-feature-single .icon::after,
    .counter-single .icon::after {
        width: 90px;
        height: 90px;
        top: -10px;
        left: -10px;
    }

    .core-feature-single {
        padding: 60px 30px 25px;
    }

    .about-cont h5 {
        font-size: 14px;
    }

    .about-info-single {
        padding: 20px 15px 5px;
    }

    .about-info-single .content {
        width: 58%;
    }

    .about-info-single .icon {
        width: 42%;
    }

    .title h5 {
        font-size: 14px;
    }

    .counter.title {
        padding-bottom: 60px;
    }

    .price-tbl-single a {
        padding: 12px 30px;
    }

    .download-btns {
        text-align: center;
    }

    .rating-number,
    .rating-details {
        width: 100%;
    }

    .app-reviews {
        text-align: center;
    }

    .download-btns a {
        margin: 0 20px;
    }

    .contact-form button {
        padding: 12px 22px;
    }

    .price-tbl-single .price {
        margin: 45px 0 0;
    }

    .price-tbl-single .price-bg {
        top: -22px;
    }

    #contact-area.bg-1,
    #contact-area.bg-2 {
        background-image: none;
    }


}